<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>상용</key>
	<string>http://tpay.sktelecom.com:8001/app/handler/</string>
	<key>개발</key>
	<string>http://61.250.22.44:8001/app/handler/</string>
	<key>스테이징</key>
	<string>4</string>
</dict>
</plist>
